<section id="products">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="col-md-2">
               <div class="row">
                  <div class="">
                        <input type="text" placeholder="Search.." name="search" class="search-box">
                        <div class="side-bar">
                                <div class="side-bar-first">
                                        <span><a href="#" class="w3-bar-item w3-button">Samsung</a>
                                            <input type="checkbox" name="vehicle2" value="Car" class="chekbox">
                                        </span><br>
                                        <span>
                                          <a href="#" class="w3-bar-item w3-button">Lenovo </a>
                                          <input type="checkbox" name="vehicle2" value="Car" class="chekbox">
                                        </span><br>
                                        <span>
                                        <a href="#" class="w3-bar-item w3-button">Apple</a>
                                        <input type="checkbox" name="vehicle2" value="Car" class="chekbox">
                                        </span><br>
                                        <span>
                                            <a href="#" class="w3-bar-item w3-button">Redmi</a>
                                             <input type="checkbox" name="vehicle2" value="Car" class="chekbox">
                                        </span><br>
                                        <span>
                                             <a href="#" class="w3-bar-item w3-button">Nokia</a>
                                             <input type="checkbox" name="vehicle2" value="Car" class="chekbox">
                                         </span><br>
                                         <span>
                                             <a href="#" class="w3-bar-item w3-button">All</a>
                                              <input type="checkbox" name="vehicle2" value="Car" class="chekbox">
                                          </span><br>
                                </div>
                                <div class="secound-side-bar">
                                    <p class="price">Price</p>
                                        <span><a href="#" class="w3-bar-item w3-button">High & Low</a>
                                            <input type="checkbox" name="vehicle2" value="Car" class="chekbox">
                                        </span><br>
                                        <span><a href="#" class="w3-bar-item w3-button">Low & High</a>
                                            <input type="checkbox" name="vehicle2" value="Car" class="chekbox">
                                        </span><br>
                                        <span><a href="#" class="w3-bar-item w3-button">None</a>
                                            <input type="radio" name="vehicle2" value="Car" class="chekbox">
                                        </span><br>
                                </div>

                                <div class="secound-side-bar">
                                        <p class="price">Customer rating</p>
                                            <span><a href="#" class="w3-bar-item w3-button">4 & Above</a>
                                                <input type="checkbox" name="vehicle2" value="Car" class="chekbox">
                                            </span><br>
                                            <span><a href="#" class="w3-bar-item w3-button">3 & Above</a>
                                                <input type="checkbox" name="vehicle2" value="Car" class="chekbox">
                                            </span><br>
                                            <span><a href="#" class="w3-bar-item w3-button">2 & Above</a>
                                                <input type="checkbox" name="vehicle2" value="Car" class="chekbox">
                                            </span><br>
                                            <span><a href="#" class="w3-bar-item w3-button">1 & Above</a>
                                                <input type="checkbox" name="vehicle2" value="Car" class="chekbox">
                                            </span><br>
                                    </div>

                                    <div class="secound-side-bar">
                                            <p class="price">Discount</p>
                                                <span><a href="#" class="w3-bar-item w3-button">10% Or More</a>
                                                    <input type="checkbox" name="vehicle2" value="Car" class="chekbox">
                                                </span><br>
                                                <span><a href="#" class="w3-bar-item w3-button">20% Or More</a>
                                                    <input type="checkbox" name="vehicle2" value="Car" class="chekbox">
                                                </span><br>
                                                <span><a href="#" class="w3-bar-item w3-button">30% Or More</a>
                                                    <input type="checkbox" name="vehicle2" value="Car" class="chekbox">
                                                </span><br>
                                        </div>
                        </div>
                  </div>
               </div>
            </div>
            <div class="col-md-10">
               <div class="row">
                  <div class="col-md-4">
                     <div class="bg-img-bottom">
                        <img src="../../assets/download.jpg" class="img-responsive img-shadow" 
                           style="height:200px; width: 100%; ">
                        <p class="product-name">Samsung 32 inches HD LED TV</p>
                        <p class="product-price">$ 60000.00  </p>
                        <p class="p-discount">$ 49000.00 <span class="proudct-discount">was$10000</span> </p>
                        <input type="button" class="btn btn-info card-button" value="Add To Cart">
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="bg-img-bottom">
                        <div class="img-hover">
                           <img src="../../assets/download.jpg" class="img-responsive img-shadow" 
                              style="height:200px; width: 100%; ">
                        </div>
                        <p class="product-name">Samsung 32 inches HD LED TV</p>
                        <p class="product-price">$ 60000.00  </p>
                        <p class="p-discount">$ 49000.00 <span class="proudct-discount">was$10000</span> </p>
                        <input type="button" class="btn btn-info card-button" value="Add To Cart">
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="bg-img">
                        <img src="../../assets/download.jpg" class="img-responsive img-shadow" 
                           style="height:200px; width: 100%; ">
                        <p class="product-name">Samsung 32 inches HD LED TV</p>
                        <p class="product-price">$ 60000.00  </p>
                        <p class="p-discount">$ 49000.00 <span class="proudct-discount">was$10000</span> </p>
                        <input type="button" class="btn btn-info card-button" value="Add To Cart">
                     </div>
                  </div>
               </div>
               <div class="row row-margin">
                    <div class="col-md-4">
                       <div class="bg-img">
                          <img src="../../assets/download.jpg" class="img-responsive img-shadow" 
                             style="height:200px; width: 100%; ">
                          <p class="product-name">Samsung 32 inches HD LED TV</p>
                          <p class="product-price">$ 60000.00  </p>
                          <p class="p-discount">$ 49000.00 <span class="proudct-discount">was$10000</span> </p>
                          <input type="button" class="btn btn-info card-button" value="Add To Cart">
                       </div>
                    </div>
                    <div class="col-md-4">
                       <div class="bg-img">
                          <div class="img-hover">
                             <img src="../../assets/download.jpg" class="img-responsive img-shadow" 
                                style="height:200px; width: 100%; ">
                          </div>
                          <p class="product-name">Samsung 32 inches HD LED TV</p>
                          <p class="product-price">$ 60000.00  </p>
                          <p class="p-discount">$ 49000.00 <span class="proudct-discount">was$10000</span> </p>
                          <input type="button" class="btn btn-info card-button" value="Add To Cart">
                       </div>
                    </div>
                    <div class="col-md-4">
                       <div class="bg-img">
                          <img src="../../assets/download.jpg" class="img-responsive img-shadow" 
                             style="height:200px; width: 100%; ">
                          <p class="product-name">Samsung 32 inches HD LED TV</p>
                          <p class="product-price">$ 60000.00  </p>
                          <p class="p-discount">$ 49000.00 <span class="proudct-discount">was$10000</span> </p>
                          <input type="button" class="btn btn-info card-button" value="Add To Cart">
                       </div>
                    </div>
                 </div>
                 <div class="row row-margin">
                        <div class="col-md-4">
                           <div class="bg-img">
                              <img src="../../assets/download.jpg" class="img-responsive img-shadow" 
                                 style="height:200px; width: 100%; ">
                              <p class="product-name">Samsung 32 inches HD LED TV</p>
                              <p class="product-price">$ 60000.00  </p>
                              <p class="p-discount">$ 49000.00 <span class="proudct-discount">was$10000</span> </p>
                              <input type="button" class="btn btn-info card-button" value="Add To Cart">
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="bg-img">
                              <div class="img-hover">
                                 <img src="../../assets/download.jpg" class="img-responsive img-shadow" 
                                    style="height:200px; width: 100%; ">
                              </div>
                              <p class="product-name">Samsung 32 inches HD LED TV</p>
                              <p class="product-price">$ 60000.00  </p>
                              <p class="p-discount">$ 49000.00 <span class="proudct-discount">was$10000</span> </p>
                              <input type="button" class="btn btn-info card-button" value="Add To Cart">
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="bg-img">
                              <img src="../../assets/download.jpg" class="img-responsive img-shadow" 
                                 style="height:200px; width: 100%; ">
                              <p class="product-name">Samsung 32 inches HD LED TV</p>
                              <p class="product-price">$ 60000.00  </p>
                              <p class="p-discount">$ 49000.00 <span class="proudct-discount">was$10000</span> </p>
                              <input type="button" class="btn btn-info card-button" value="Add To Cart">
                           </div>
                        </div>
                     </div>
            </div>
         </div>
      </div>
   </div>
</section>