.bg-img-bottom
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 360px;
    border-radius: 5px;
}

.bg-img
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 360px;
    border-radius: 5px;
   
}

.img-shadow
{
   border: 1px solid gray;
   border-radius: 5px;

}

.product-name{
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
    margin-top: 15px;
    text-transform: initial;
    color: teal;
    text-transform: capitalize;
}

.product-price
{
    text-align: center;
    text-transform: initial;
}
.p-discount
{
    text-align: center;
    text-transform: initial;
}
.proudct-discount
{
    text-decoration: line-through;
    color: gray;
    text-transform: initial;
}
.card-button
{
    width: 200px;
    margin-left: 22px;
}
.row-margin
{
    padding-top: 10px;
}
.card
{
    margin-top: 10px;
}
.search-box
{
    width: 164px;
}
.side-bar{
    border: 1px solid;
    width: 100%;
    margin-top: 10px;
    height: 130px;
}
.side-bar-first 
{
   margin-left: 10px;
}
.chekbox
{
    float: right;
    margin-right: 10px;
}
.secound-side-bar
{
    border: 1px solid;
    width: 100%;
    margin-top: 20px;
}
.secound-side-bar span
{
    margin-left: 10px;
}
.price
{
    margin-left: 10px;
}